<div class="user-posts">
  <div class="user-container">
    <div class="user-photo">
      <%= image_tag(@user.photo, alt: 'User Photo', class: 'photo') %>
    </div>
    <div class="user-name">
      <h2><%= @user.name %></h2>
    </div>
    <div class="user-posts-count">
      <p class="user-posts-count">Number of posts: <%= @user.posts.count %></p>
    </div>
  </div>
  <div class="user-bio">
    <p><strong>Bio:</strong> <%= @user.bio %></p>
  </div>

  <div id="posts-container">
    <% recent_posts = User.recent_posts(@user.name, 3) %>
    <%= render partial: 'post', collection: recent_posts %>
  </div>

  <%= link_to 'Show more', user_posts_path(@user), class: 'show-more-btn' %>

</div>