<div class="user-posts">
  <div class="user-container">
    <div class="user-photo">
      <%= image_tag(@user.photo, alt: 'User Photo', class: 'photo') %>
    </div>
    <div class="user-name">
      <h2><%= @user.name %></h2>
    </div>
    <div class="user-posts-count">
      <p class="user-posts-count">Number of posts: <%= @user.posts.count %></p>
    </div>
  </div>
  <div class="user-bio">
    <p><strong>Bio:</strong> <%= @user.bio %></p>
  </div>

  <div id="posts-container">
    <%= render partial: 'post', collection: @user.posts.limit(3) %>
    <% if @user.posts.count > 3 %>
    <button id="show-more-btn" class="show-more-btn">Show More</button>
    <% end %>
  </div>
</div>
