<div class="main-container">
  <%= render partial: 'partials/userinfo', locals: { user: @user } %>
</div>
<div class="user-bio">
  <p><strong>Bio:</strong> <%= @user.bio %></p>
</div>

<div id="posts-container">
  <% recent_posts = User.recent_posts(@user.name, 3) %>
  <%= render partial: 'partials/post', collection: recent_posts %>
</div>

<div class="user-action-btns">
  <%= link_to 'Show more', user_posts_path(@user), class: "action-btn" %>
  <%= link_to 'Create a Post', new_user_post_path(@user), class: "action-btn" %>
</div>
