<div class="main-container">
    <div class="user-container">
        <div class="user-photo">
        <%= image_tag(@user.photo, alt: 'User Photo', class: 'photo') %>
        </div>
        <div class="user-name">
        <h2><%= @user.name %></h2>
        </div>
        <div class="user-posts-count">
        <p class="user-posts-count">Number of posts: <%= @user.posts.count %></p>
        </div>
    </div>
</div>
<div class="posts-container">
    <%= render partial: 'post', collection: @posts %>
</div>
<div class="pagination">
    <%= link_to 'Pagination', user_posts_path(@user), class: 'pagination-btn' %>
</div>