<div class="main-container">
  <div class="post-info">
    <h3 class="post-id-username">Post <%= @post.title %> by <%= @user.name %></h3>
    <p class="post-comments-likes">Comments: <%= @post.comments.count %>, Likes: <%= @post.likes.count %></p>       
  </div>
  <div class="post-text">
    <%= @post.text %>
  </div>
</div>

<ul class="comments-container">
  <% if @post.comments.present? %>
    <% recent_comments = @post.comments.order(created_at: :desc).limit(3) %>
      <% recent_comments.each do |comment| %> 
      <li class="user-comment">
        <%= comment.user.name %>: <%= comment.text %>
        <% if can? :destroy, comment %>
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </li>
    <% end %>
  <% else %>
    <li class="user-comments">No comments for this post.</li>
  <% end %>
</ul>

<div class="post-action-btns">
  <%= render 'likes/new', post: @post, like: @like %>
  <%= link_to 'Comment', new_user_post_comment_path(@user, @post), class: "comment-btn" %>
</div>
